#inp {
  flex: auto;
  border-radius: 12px 0px 0px 12px;
  box-sizing: border-box;
}

#submit {
  border-radius: 0px 12px 12px 0px;
}

.d-container {
  align-items: center;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.li-container {
  margin: 12px 0;
  width: 72%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

.remove-button {
  cursor: pointer;
  border: 1px solid rgba(255, 0, 0, 0.5);
  box-sizing: border-box;
  background: transparent;
  border-radius: 12px;
  padding: 8px 16px;
  color: white;
}

.remove-button:hover {
  border: 1px solid rgba(255, 0, 0, 0.8);
}

.b-container {
  display: flex;
  width: 80%;
  margin: 10px 0;
  justify-content: center;
}

.sw-container {
    margin: 10px 0;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.box {
    display: grid;
    align-items: center;
    padding: 0 12px;
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
border-radius: 12px;
}