.header {
  overflow: hidden;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
  background: #0D172B;
  border: 2px solid #2A3442;
}

.content {
  box-sizing: border-box;
  width: 80%;
  height: 50px;
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
}

.logo {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
}
